<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Listado de Personas 
            <button class="btn btn-info btn-floating btn-sm" (click)="openForm()">
                <i class="fa fa-plus"></i>
            </button>
            <button class="btn btn-success btn-floating btn-sm" (click)="exportToExcel()">
              <i class="fa fa-file-excel"></i>
            </button>
            <button class="btn btn-danger btn-floating btn-sm" (click)="exportToExcel()">
              <i class="fa fa-file-pdf"></i>
            </button>
          </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table *ngIf="showContent" datatable="ng" [dtOptions]="dtOptions" class="row-border hover table" id="datatable">
              <thead>
                <tr>
                  <th>
                    ID
                  </th>
                  <th>
                    Nombres
                  </th>
                  <th>
                    documento
                  </th>
                  <th>
                    Genero
                  </th>
                  <th>
                    Celular
                  </th>
                  <th>
                    Puesto
                  </th>
                  <th>
                    Rol
                  </th>
                  <th class="text-center">
                    Votantes
                  </th>
                  <th class="text-center">
                    Acciones
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of personas">
                  <td>
                    {{data.id}}
                  </td>
                  <td>
                    {{data.nombres}} {{data.apellidos}}
                  </td>
                  <td>
                    {{data.documento}}
                  </td>
                  <td>
                    {{data.sexo}}
                  </td>
                  <td>
                    {{data.celular}}
                  </td>
                  <td>
                    {{data.puesto}}
                  </td>
                  <td>
                    {{data.rol}}
                  </td>
                  <td class="text-center">
                    <button (click)="votantesList(data.id)" class="btn btn-success btn-floating btn-sm"
                      [disabled]="data.votantes==0">
                      {{data.votantes}}
                    </button>
                  </td>
                  <td class="td-actions text-center">
                    <button (click)="edit(data.id)" class="btn btn-info btn-floating btn-sm">
                        <i class="fa fa-eye"></i>
                    </button>
                    <button (click)="delete(data.id)" class="btn btn-danger btn-floating btn-sm">
                        <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


