<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Listado de Puestos de Votación 
            <button class="btn btn-success btn-floating btn-sm" (click)="exportToExcel()">
              <i class="fa fa-file-excel"></i>
            </button>
            <button class="btn btn-danger btn-floating btn-sm" (click)="exportToExcel()">
              <i class="fa fa-file-pdf"></i>
            </button>
          </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" id="data-table">
              <thead class=" text-primary">
                <th>
                  ID
                </th>
                <th>
                  Nombre
                </th>
                <th>
                  direccion
                </th>
                <th>
                  Comuna
                </th>
                <th class="text-center">
                  Votantes
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let data of puestos">
                  <td>
                    {{data.id}}
                  </td>
                  <td>
                    {{data.nombre}}
                  </td>
                  <td>
                    {{data.direccion}}
                  </td>
                  <td>
                    {{data.comuna}}
                  </td>
                  <td class="text-center">
                    <button (click)="votantesList(data.id)" class="btn btn-success btn-floating btn-sm"
                      [disabled]="data.votantes==0">
                      {{data.votantes}}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
