<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Datos de Usuario</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-md-6 p-3">
                <div class="form-group">
                  <label>Nombre de Usuario</label>
                  <input type="text" [formControlName]="'nombre'" class="form-control" >
                </div>
              </div>
              <div class="col-md-6 p-3">
                <div class="form-group">
                  <label for="clave">Contraseña</label>
                  <input name="clave" [formControlName]="'clave'" type="password" class="form-control" >
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6 p-3">
                  <div class="form-group">
                    <label>Persona</label>
                    <!-- <input type="text" [formControlName]="'persona_id'" class="form-control" > -->
                    <select [formControlName]="'persona_id'" class="form-control form-select">
                        <option *ngFor="let data of personas" value={{data.value}}>{{data.text}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6 p-3">
                  <div class="form-group">
                    <label for="clave">Estado</label>
                    <!-- <input name="clave" [formControlName]="'estado'" type="text" class="form-control" > -->
                    <select class="form-control form-select">
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                  </div>
                </div>
              </div>
            <div class="row pt-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <button (click)="back()" class="btn btn-light btn-rounded" type="button">Cancelar</button>
                    </div>
                </div>
              <div class="col-md-6">
                <div class="form-group">
                    <button (click)="add()" class="btn btn-success btn-rounded" type="button">Registrar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

